backend/.DS_Store
backend/.env
backend/.flaskenv
backend/*.pyc
backend/*.pyo
backend/env/
backend/env*
backend/venv
backend/dist/
backend/build/
backend/*.egg
backend/*.egg-info/
backend/_mailinglist
backend/.tox/
backend/.cache/
backend/.pytest_cache/
backend/.idea/
backend/docs/_build/

# Coverage reports
frontend/htmlcov/
frontend/.coverage
frontend/.coverage.*
frontend/*,cover
frontend/[200~.idea/
frontend/.vscode/
frontend/node_modules/
frontend/build
frontend/.DS_Store
frontend/*.tgz
frontend/my-app*
frontend/template/src/__tests__/__snapshots__/
frontend/lerna-debug.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend//.changelog
frontend/.npm/
